/* css for tables, specifically the HMTL Elements page */
table {
    border:1px solid #000;
    width:90%;
    margin: 2em auto;
    border-collapse: collapse;
    font-family: 'Titillium Web', sans-serif;
}

table.audience {
    table-layout: fixed;
}

table.client {
    width: 60%;
}

.audience ul {
        margin-top: 0;
    }
caption {
    margin: .5em;
    font-weight: 700;
    font-size: 1.25em;
}
thead, th {
    background-color: #000;
    color: #fff;
    border:2px solid #fff;
    padding: .6em;
}

.client th {
    vertical-align: middle;
}

tr {
   vertical-align:top;    
}

tr:nth-child(even){
    background-color: #1444;
    color: #fff;
}

td {
  border:1px solid #000; 
  padding:.5em;
  vertical-align: middle;
}

.audience td {
    vertical-align: top;
}

/* TABLE CSS FOR SMALLER SCREENS */
@media all and (max-width:750px) {
    
    table, thead, tbody, th, td, tr, caption {
        display: block;
        border: 0px;
    } 
    
    table {
        border-collapse: collapse;
    }
    
    table.client {
    width: 90%;
}   
    
    thead {
        display: none;
    }
    
    
    tr {
        border: 2px solid lightseagreen;
    }
    
    td {
        border: 1px solid #000;
        position: relative;
        text-align: center;
        padding-left: 90px; 
    }
    
    .audience td {
        text-align: left;
    }
    
    td::before {
        position: absolute;
        left: 6px; 
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
    }
/*
    td.single::before {
        clear: both;
        display: none;
        
    }
    
    
    .client td::before {
        display: none;
        width: 1px;
        left: 0px;
        padding-right: 0px;
        clear:none;
    }
  */  
    td:nth-of-type(1):before {
        content: "Food Name:";
    }
    
     td:nth-of-type(2):before {
        content: "Description:";
    }
    
     td:nth-of-type(3):before {
        content: "Cost:";
    }
    
    .audience td:nth-of-type(1):before {
        content: "Audience:";
    }
    
    .audience td:nth-of-type(2):before {
        content: "Issues:";
    }
    
    .audience td:nth-of-type(3):before {
        content: "Approach:";
    }
    
    .client td:nth-of-type(1):before {
        content: none;
    }
    
    
}
